<% provide(:title, "Log In") %>
<% content_for :body_class, 'splash' %>

<%= form_for(:session, url: login_path, :html => { :class => "login-register-form"} ) do |f| %>
    <h1>Log In</h1>
    <%= render 'shared/flash' %>

    <%= f.text_field :username, class: "form-input form-control", placeholder: "Username"  %>

    <%= f.password_field :password, class: "form-input form-control", placeholder: "Password" %>

    <%= f.submit "Log In", class: "btn btn-primary" %>

    <p class="message">Not registered? <%= link_to "Create an account", signup_path%></p>
<% end %>
