<% provide(:title, "Log In") %>
<% content_for :body_class, 'splash' %>
<% content_for :main_style, 'margin:0;' %>
<% content_for :sidemenu_class, 'hidden-sm hidden-md hidden-lg' %>

<%= form_for(:session, url: login_path, :html => { :class => "login-register-form box-shadow"} ) do |f| %>
    <h1>Log In</h1>
    <%= render 'shared/flash' %>

    <%= f.text_field :username, class: "form-input form-control form-line", placeholder: "Username"  %>

    <%= f.password_field :password, class: "form-input form-control form-line", placeholder: "Password" %>

    <div class="col-xs-12 form-line">
        <div class="checkbox left">
            <%= f.label :remember_me do %>
                <%= f.check_box :remember_me %>
                <span>Remember me</span>
            <% end %>
        </div>
    </div>

    <%= f.submit "Log In", class: "btn btn-primary form-line" %>

    <p class="message">Not registered? <%= link_to "Create an account", signup_path%></p>
<% end %>
