<% provide(:title, "Sign Up") %>
<section>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="form-container">
                <h1>Sign Up</h1>
                <%= form_for(@user, url: signup_path, :html => { :class => "form-horizontal login-register"} ) do |f| %>
                    <%= render 'shared/error_messages' %>

                    <%= f.text_field :name, class: "form-input form-control", placeholder: "Name" %>

                    <%= f.text_field :username, class: "form-input form-control", placeholder: "Username"  %>

                    <%= f.password_field :password, class: "form-input form-control", placeholder: "Password" %>

                    <%= f.password_field :password_confirmation, class: "form-input form-control", placeholder: "Confirmation" %>

                    <%= f.submit "Create", class: "btn btn-primary" %>

                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                <% end %>
            </div>
        </div>
    </div>
</section>
