<% provide(:title, "¿Cómo se dice en español?") %>
<div class="page-header">
    <h1>
        ¿Cómo se dice en español?
    </h1>
</div>

<%= form_for(@word_answer, url: submitword_path, :html => { :class => "app-form new-word-container new-word-form box-shadow" } ) do |f| %>
    <div>
        <%= render 'shared/flash' %>
        <h2><%= @word_answer.english %></h2>
    </div>
    <%= render 'shared/error_messages' %>
    <div class="form-group">
        <%= f.hidden_field :word_id, :value => @word_answer.word_id %>
        <%= f.hidden_field :english, :value => @word_answer.english %>
        <%= f.text_field :spanish, class: "form-input form-control", autofocus: true %>
    </div>
    <div class="row test-button-group">
        <div class="pull-right">
            <%= f.submit "Next", class: "btn btn-primary" %>
            <%= link_to "Skip", test_path(@category), class: "btn" %>
        </div>
    </div>
<% end %>

<div class="new-word-container">
    <div class="alert alert-info">
        Set your keyboard layout to type the following characters: á, é, í, ó, ú, ü, ñ
    </div>
    <% if @progress_percentage == 100 %>
        <div class="alert alert-success">
            Congratulations! You've completed this section. You can still practice.
        </div>
    <% end %>
</div>
