<div class="table-responsive box-shadow">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-xs-<%= defined?(en_col_size) ? en_col_size : 6 %>">English</th>
                <th class="col-xs-<%= defined?(en_col_size) ? es_col_size : 6 %>">Español</th>
            </tr>
        </thead>
        <tbody>
            <% words.each do |word| %>
                <tr>
                    <td><% if word.english_prefix %><%= word.english_prefix %> <% end %><%= word.english %></td>
                    <td><%= word.spanish %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
