<% provide(:title, "Edit Word") %>
<div class="page-header">
    <h1>Edit Word</h1>
</div>

<%= render 'shared/flash' %>

<div class="word-form app-form box-shadow">
    <%= form_for(@word) do |f| %>
        <%= render 'shared/error_messages' %>

        <div class="form-group">
            <%= f.label :english %>
            <%= f.text_field :english, class: "form-input form-control form-line", placeholder: "English Word" %>
        </div>

        <div class="form-group">
            <%= f.label :english_prefix %>
            <%= f.text_field :english_prefix, class: "form-input form-control form-line", placeholder: "English Prefix" %>
        </div>

        <div class="form-group">
            <%= f.label :spanish %>
            <%= f.text_field :spanish, class: "form-input form-control form-line", placeholder: "Spanish Word" %>
        </div>

        <div class="form-group">
            <%= f.label :category_id %>
            <%= f.collection_select :category_id, Category.order(:name), :id, :name, {}, {class: "form-control form-line"} %>
        </div>

        <div class="form-group">
            <%= f.label :tag %>
            <%= f.text_field :tag, class: "form-input form-control form-line", placeholder: "Tag" %>
        </div>

        <%= f.submit "Save", class: "btn btn-primary form-line" %>
    <% end %>
</div>
