<div <% if !logged_in? %>class="hidden-sm hidden-md hidden-lg"<% end %>>
    <nav class="sidebar collapse" role="navigation" id="side-menu">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav">
                <% if logged_in? %>
                    <li>
                        <%= active_link_to users_path, :action => 'go' do %>
                            <div class="icon"><i class="fa fa-users fa-fw" aria-hidden="true"></i></div>
                            <div class="title">Peers</div>
                        <% end %>
                    </li>
                    <li>
                        <%= active_link_to greetings_words_path, :action => 'go' do %>
                            <div class="icon"><i class="fa fa-handshake-o fa-fw" aria-hidden="true"></i></div>
                            <div class="title">Greetings</div>
                        <% end %>
                    </li>
                    <li>
                        <%= active_link_to calendar_words_path, :action => 'go' do %>
                            <div class="icon"><i class="fa fa-calendar-o fa-fw" aria-hidden="true"></i></div>
                            <div class="title">Calendar</div>
                        <% end %>
                    </li>
                    <li>
                        <%= active_link_to numbers_words_path, :action => 'go' do %>
                            <div class="icon"><i class="fa fa-list-ol fa-fw" aria-hidden="true"></i></div>
                            <div class="title">Numbers</div>
                        <% end %>
                    </li>
                    <li>
                        <%= active_link_to dictionary_words_path, :action => 'go' do %>
                            <div class="icon"><i class="fa fa-book fa-fw" aria-hidden="true"></i></div>
                            <div class="title">Vocabulary</div>
                        <% end %>
                    </li>
                <% end %>
                <li >
                    <%= active_link_to about_path, :action => 'go' do %>
                        <div class="icon"><i class="fa fa-info fa-fw" aria-hidden="true"></i></div>
                        <div class="title">About</div>
                    <% end %>
                </li>
                <% if logged_in? %>
                    <li class="hidden-sm hidden-md hidden-lg">
                        <%= active_link_to user_path(@current_user), :action => 'go' do %>
                            <div class="icon"><i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i></div>
                            <div class="title"><%= @current_user.name %></div>
                        <% end %>
                    </li>
                    <li class="hidden-sm hidden-md hidden-lg">
                        <%= active_link_to logout_path, method: "delete", :action => 'go' do %>
                            <div class="icon"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i></div>
                            <div class="title">Log Out</div>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>
</div>
