<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <% if logged_in? %>
            <%= link_to "Learning Language - Spanish", home_path, id: "logo", class: "navbar-brand" %>
        <% else %>
            <%= link_to "Learning Language - Spanish", root_path, id: "logo", class: "navbar-brand" %>
        <% end %>
    </div>

    <nav class="navbar-right hidden-xs">
        <ul class="nav navbar-nav">
            <% if logged_in? %>
                <li>
                    <%= link_to user_path(@current_user), :action => 'go' do %>
                        <i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i> <%= @current_user.name %>
                    <% end %>
                </li>
                <li>
                    <%= link_to logout_path, method: "delete", :action => 'go' do %>
                        <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Log Out
                    <% end %>
                </li>
            <% else %>
                <li>
                    <%= link_to about_path, :action => 'go' do %>
                        <i class="fa fa-info fa-fw" aria-hidden="true"></i> About
                    <% end %>
                </li>
            <% end %>
        </ul>
    </nav>
</div>
