<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
      <div class="page-wrapper">
          <%= render 'layouts/header' %>
          <%= render 'layouts/side_menu' %>
          <div class="main">
              <div class="container-fluid">
                <%= yield %>
              </div>
          </div>
      </div>
  </body>
</html>
